{% extends "base.html" %}
{% load static %}

{% block title %}
    Disabled People
{% endblock title %}

{% block content %}

 <!-- inner banner -->
 <section class="disabled py-5">
    <div class="king-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">Disabled People</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>Disabled People</li>
            </ul>
        </div>
    </div>
   
</section>
<!-- //inner banner -->


{% endblock content %}