{% extends "base.html" %}
{% load static %}

{% block title %}
    Gallery
{% endblock title %}

{% block content %}
 <section class="inner-banner py-5">
    <div class="king-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <br>
            <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">Our Gallery</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>Gallery</li>
            </ul>
        </div>
    </div>
   
</section>
 <section class="locations-1 w3services-3">
    <div class="locations py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="heading text-center mx-auto">
                <a href="#">
                    <h3 class="title-king mb-3">Our Gallery</h3>
                </a>
                
            </div>
            <div class="row">
                {% if gallery %}
                {% for item in gallery %}
                <div class="col-lg-4 col-6 mt-md-5 mt-4">
                    <div class="w3property-grid">
                        <span class="image-block">

                            <a class="image-zoom" href="{{item.imggallery.url}}" data-gal="prettyPhoto[gallery]">
                                <div class="content-overlay"></div>
                                <img src="{{item.imggallery.url}}" class="img-fluid w3layouts agileits" alt="portfolio-img">
                                <div class="w3layouts_team_grid_pos">
                                    <h3 style="color: white;" class="wthree_text">{{ item.title}}</h3>
        
                                </div>
                            </a>
                        </span>
                        <!-- <a href="#">
                            <div class="box16">
                                <img class="img-fluid" src="{{item.imggallery.url}}" alt=" Charity Foundation in Africa, Charity Foundation in Nigeria  Help the Poor, Save The Children In Africa">
                                <div class="box-content text-center">
                                    <h3 class="title">{{item.title}}</h3>
                                </div>
                            </div>
                        </a> -->
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>            
        </div>
    </div>
</section>
{% endblock content %}