{% extends "base.html" %}
{% load static %}

{% block title %}
    Blog
{% endblock title %}

{% block content %}
 <section class="blog_1 py-5">
    <div class="king-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
          <br>
            <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">Blog</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>Blog</li>
            </ul>
        </div>
    </div>
   
</section>
<section>
    <div class="king-grids-block-5 blog-bg-sec py-5">
        <div class="container py-md-5 py-4">
            <div class="position-relative mb-lg-5 mb-4">
                <h3 class="title-style mb-2 text-center">Latest Blog Post</h3>
            </div>
            <div class="row justify-content-center">
                {% if blog %}
                {% for item in blog %}
                <div class="col-lg-4 col-md-6 grids5-info">
                    <a href="{% url 'blog' item.slug %}"><img src="{{item.blogimg.url}}" alt=""
                            class="img-fluid radius-image" /></a>
                    <div class="blog-info-grid">
                        <h5><span class="fa fa-clock-o"></span>{{ item.date_posted }}</h5>
                        <h4><a href="{% url 'blog' item.slug %}">{{item.title}}</a></h4>
                        <div class="blog-info mt-3">
                            <a href="{% url 'blog' item.slug %}">Read More <span class="fa fa-arrow-right ms-1"></span></a>
                        </div>
                    </div>
                    <br>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12">
                  {% if blog.has_other_pages %}
                    <ul class="pagination">
                      {% if blog.has_previous %}
                          <li class="page-item">
                            <a href="?page={{blog.previous_page_number}}" class="page-link">&laquo;
                            </a>
                          </li>
                          {% else %}
                          <!-- <li class="page-link disabled">
                            <a class="page-link">&laquo;</a>
                          </li> -->
                      {% endif %}
                      {% for i in blog.paginator.page_range %}
                        {% if blog.number == i %}
                          <li class="page-item active">
                            <a class="page-link">{{i}}</a>
                          </li>
                       {% else %}
                       <li class="page-item">
                         <a href="?page={{i}}" class="page-link">{{i}}</a>
                       </li>
                     {% endif %}
                    {% endfor %} 
                    {% if blog.has_next %}
                        <li class="page-item">
                          <a href="?page={{blog.next_page_number}}" class="page-link">&raquo;
                          </a>
                        </li>
                      {% else %}
                        <!-- <li class="page-link disabled">
                          <a class="page-link">&raquo;</a>
                        </li> -->
                    {% endif %}
                  </ul>                   
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <marquee style="background-color: var(--primary-color);  color: white; height: 3rem; font-size: 15px; font-weight: 500;" behavior="" direction="left">We start by lending a helpping hand to the poor and less priviliage children,   Helpping the climate victims get back up...  School Equipment for 400,000 Kids in Africa,  Provide Access to Clean Water,  Hope For Disabled People,  Sustain A School For 200,000 Children In Rural Area In Africa, Technology Afterschool Clubs for Girls in Africa,  Safe Home For Orphans And Vulnerable Children In Africa,  Fighting Hunger And Food Insecurity In Africa...</marquee>
        </div>
    </div>
</div>
<br> 

{% endblock content %}