 <!-- header -->
 <header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{% url 'index' %}">
                <i class="fas fa-use"></i style="color: var(--primary-color);">Good<span>will</span>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li {% if '/' == request.path %}
                    class="nav-item active"
                    {% else %}
                    class="nav-item "
                    {% endif %}>
                    
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li {% if 'project' in request.path %}
                    class="nav-item active"
                    {% else %}
                    class="nav-item "
                    {% endif %}>
                    
                        <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                    </li>
                    <li {% if 'about' in request.path %}
                    class="nav-item active"
                    {% else %}
                    class="nav-item "
                    {% endif %}>
                    
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li {% if 'blog' in request.path %}
                    class="nav-item active"
                    {% else %}
                    class="nav-item "
                    {% endif %}>
                        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li {% if 'gallery' in request.path %}
                    class="nav-item active"
                    {% else %}
                    class="nav-item "
                    {% endif %}>
                        <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                    </li>
                    <li {% if 'contact' in request.path %}
                    class="nav-item active"
                    {% else %}
                    class="nav-item "
                    {% endif %}>
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
                <!-- <form action="#error" method="GET" class="d-flex search-header"> -->
                    <!-- <input class="form-control" type="search" placeholder="Enter Keyword..." aria-label="Search"
                        required> -->
                        <a style="background: var(--primary-color);" href="{% url 'donate' %}" class="donate">Donate</a>
                <!-- </form> -->
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
            
        </nav>
    </div>
    
</header>
<!-- //header -->